<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}" />
    <link rel="stylesheet" href="{% static 'css/coin-slider-styles.css'%}" type="text/css" />
    <style>
      .bb_img{max-width:50%;}
    </style>
    <script type="text/javascript" src="{% static 'javascript/jquery.js' %}"/></script>    
    <script type="text/javascript" src="{% static 'javascript/coin-slider.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/load_comment.js' %}">
    </script>
    <script type="text/javascript">
      var id_article = {{article.id}};
    
      
    </script>
  </head>
  
  <body>
    
    <!-- <img src="../media/{{ img }}" width="{{ img.width }}" height="{{ img.height }}" /> -->
    
    {% load bbcode %}
    
    {{ article.content|bbcode }}
    <form id="form_post" action="/article/{{article.id}}-{{article.slug}}" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
      
      <div id="comment">
	{% include "blog/comments.html" %}
      </div>
  </body>
</html>
