{% extends "blog/index.html" %}
{% load staticfiles %}
{% block css %}
<style>
  .bb_img{max-width:50%;}
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/load_comment.js' %}">
</script>
<script type="text/javascript">
  var id_article = {{article.id}};
</script>
{% endblock %}
{% block title %} - {{article.title}} {% endblock %}

    {% load bbcode %}
    <div class="post_box">
    {% block content %}
    <h2>{{article.title}}</h2>
  <div class="post_meta"><strong>Date:</strong> {{article.date|date:"d/m/Y"}} | <strong>Author:</strong> {{article.author|capfirst}}</div><br />
  {{ article.content|bbcode }}
  <br />
  <hr />
  <br />
  <div id="comment">
    {% include "blog/comments.html" %}
  </div>

<div id="comment_form">
                    <h3>Leave your comment</h3>
                    
                    <form id="form_post" action="/article/{{article.id}}-{{article.slug}}" method="post">
		      {% csrf_token %}
                      <div class="form_row">
                        <label>Name (* required )</label><br />
                        <input type="text" id="id_author" name="author" />
                      </div>
                      <div class="form_row">
                        <label>Comment</label><br />
                        <textarea  id="id_content" name="content" rows="" cols=""></textarea>
                      </div>
		      
                        <input type="submit" name="Submit" value="Submit" class="submit_btn" />
                    </form>
                    </div>
    {% endblock %}
    </div>
