{% extends "blog/index.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/coin-slider-styles.css'%}" type="text/css" />
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/coin-slider.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function() {
  $('#coin-slider').coinslider({width: 900, height: 500, delay: 3000});
  });
</script>
{% endblock %}
    
{% block title %} - Galerie {% endblock %}

<div class="post_box">
{% block content %}

  <div id='coin-slider'>
  {% for image in images %}
  {{image.obj}} <br />
  <a href="/media/{{image.obj}}" target="_blank">
    <img src='/media/thumbnails/{{image.obj}}.png' class='bb_img'>
    <span>
	{{image.description}}
    </span>
  </a>
  {% endfor %}
  </div>
  <div class="cleaner"></div>
  

{% endblock %}

<!-- <div id="post_box post_box_last"> -->

<!-- </div> -->
